.card-body,
.card {
  background-color: var(--overlay-blue) !important;
  backdrop-filter: blur(2rem);
  color: var(--light-blush);
  border-style: solid none !important;
  border-color: var(--solid-blue);
  border-width: 2px;
  text-align: center;

  .project-link {
    text-decoration: none;
    font-weight: 400;
    color: var(--light-blue);

    &:hover {
      transition: all 0.5s;
      color: var(--yellow-little-orange);
      text-shadow: var(--dark-orange) 4px 0 10px;
    }
  }

  .app-desc {
    color: var(--light-blue);
  }
}

.project-list {
  display: flex;
  align-items: stretch;
}

.project-img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  p,
  .project-link {
    font-size: 20px;
  }
}
