// Home component
.home-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  .home-main {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// nested technologies-list component
.technologies-list {
  background-color: rgb(255, 166, 166);

  .tech-name {
    background-color: rgba(150, 255, 255, 0.5);
    padding: 1rem;
  }

  .tech-icon {
    background-color: bisque;
    padding: 1rem;
  }
}