/* at 600px or greater, do this */
/* @media screen and (min-width: 600px) {
  #resume-img {
    height: auto;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
  }
} */


#resume-img {
  height: 400px;
  width: auto;
}

#resume-img:hover {
  border: black 2px solid;

}