.about-container {
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // width: auto;
    margin: 0 auto;
    height: 50vh;

    .about-img {
      height: 100%;
      max-width: auto;
    }
  }

  .about-text-container {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    color: var(--lighter-beige);
    background-color: var(--overlay-purp);
    // backdrop-filter: blur(3rem);
    backdrop-filter: brightness(20%);
    border-radius: 4rem;
    width: 85%;

    .about-context {
      font-size: 1.3rem;
      line-height: 2rem;
    }
  }
}

li {
  list-style: none;
}

// larger screens
@media screen and (min-width: 768px) {
  .about-text-container {
    width: 80%;

    .about-context {
      line-height: 2.75rem;
      font-size: 1.3rem;
      font-weight: 700px;
    }
  }
}
