// Home component
.home-container {
  width: 80%;
  margin: 0 auto;

  .home-main {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
      color: var(--light-blue);
    }
  }

  .technologies-container {
    margin: 0 auto;
    width: 80%;
  }

  .home-sub {
    text-align: center;
    font-size: 18px;
    color: var(--baby-blue);
  }
}

.technologies-list {
  width: 100%;
  background-color: var(--overlay-blue);
  backdrop-filter: blur(1rem);

  .tech-name {
    color: var(--lighter-beige);
    font-size: 1.75rem;
    text-align: end;
    width: 50%;
    padding: 4px;
  }

  .tech-icon {
    color: var(--beige);
    font-size: 3rem;
    text-align: start;
    padding-bottom: 1rem;
    padding: 4px;
  }
}

.github-link {
  color: var(--light-orange);
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

// mobile view
@media screen and (max-width: 768px) {
  .home-main {
    width: 100%;
    height: auto;

    p {
      font-size: 1.5rem !important;
    }
  }

  .technologies-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tech-name {
      font-size: 1.5rem;
      text-align: center;
    }

    .tech-icon {
      font-size: 2rem;
      display: flex;
      justify-content: center;
    }
  }
}
