.contact-container {
  min-height: 100vh;
  margin-top: 2rem;

  .contact-details-container,
  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 95%;
    padding: 1rem;
    margin: 2rem auto;

    .details-p {
      padding: 8px;
      color: var(--blush);
    }

    .details-link {
      padding: 6px;
      margin: 6px auto;
      font-size: 1.5rem;
    }

    .resume-icon {
      font-size: 3.5rem;
    }

    .details-link,
    .resume-link {
      color: var(--light-peach);
      text-decoration: none;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        color: var(--light-orange);
      }
    }
  }
}

// larger screens
@media screen and (min-width: 870px) {
  .contact-container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
  }

  .resume-container a {
    width: 60%;
  }

  .contact-details-container,
  .resume-container {
    width: 45%;
    margin-top: 10rem;
  }
}

@media screen and (max-width: 869px) {
  .contact-details-container,
  .resume-container {
    background-color: var(--overlay-blue);
    backdrop-filter: blur(1.2rem);
  }
}
