.nav-bar {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
  color: white;

  .nav-links-container {
    width: 90%;
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .nav-link {
      position: relative;
      padding: 8px;
      font-size: 16px;

      &::before {
        background: rgba(255, 244, 127, 0.7);
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
        z-index: -1;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

// MobileNavBar
.open {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  background-color: rgba(255, 248, 171, 0.2);
  backdrop-filter: blur(10rem);

  .nav-link-title {
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    top: 57px;
  }

  .nav-links-container {
    flex-direction: column;
    justify-content: center;

    .nav-link {
      margin: 8px;
      padding: 8px;
    }
  }
}

.icon {
  position: absolute;
  text-align: center;
  font-size: 20px;
  width: 3rem;
  height: 3rem;
  top: 22px;
  right: 34px;

  &:hover {
    cursor: pointer;
  }
}
