.nav-bar {
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
  color: white;

  .nav-links-container {
    width: 90%;
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .nav-link {
      position: relative;
      padding: 8px;
      font-size: 20px;

      &:hover {
        color: var(--baby-blue);
        font-weight: 500;
        transition: all 0.3s;
      }

      &::before {
        background: rgba(249, 229, 255, 0.5);
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.7s ease-in-out;
        z-index: -1;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

// MobileNavBar

.open {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  background-color: rgba(255, 248, 171, 0.2);
  backdrop-filter: blur(10rem);

  .nav-link-title {
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    top: 57px;
  }

  .nav-links-container {
    flex-direction: column;
    justify-content: center;

    .nav-link {
      margin: 8px;
      padding: 8px;
    }
  }
}

.mobile-nav-title {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  top: 1.2rem;
  left: 2.5rem;
  letter-spacing: 8px;
}

.icon {
  position: absolute;
  text-align: center;
  font-size: 1.75rem;
  width: 3rem;
  height: 3rem;
  top: 0.7rem;
  right: 0.4rem;
  z-index: 2;
  color: var(--light-blue);

  &:hover {
    cursor: pointer;
  }
}
