body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: "Barlow", sans-serif !important;
}

* {
  box-sizing: border-box;
}

:root {
  --blush: #f8b3a7;
  --light-blush: #ffe5e0;
  --light-peach: #ffe5d9;
  --light-green: #f6fff8;
}
