body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: "Barlow", sans-serif !important;
}

* {
  box-sizing: border-box;
}

:root {
  --blush: #f8b3a7;
  --light-blush: #ffe5e0;
  --light-peach: #ffe5d9;
  --light-blue: #99e2db;
  --baby-blue: #c9fbff;
  --bright-turq: #56cfe1;
  --solid-blue: #275470;
  --light-orange: #ffaa00;
  --dark-orange: #ff7b00;
  --yellow-little-orange: #ffdd00;
  --beige: #d5bdaf;
  --lighter-beige: #f5ebe0;
  --overlay-blue: rgba(31, 43, 58, 0.2);
}

.component-heading {
  color: white;
  font-weight: 800;
  letter-spacing: 8px;

  hr {
    color: var(--bright-turq);
    width: 50%;
    margin: 1rem auto;
  }
}
