body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: "Barlow", sans-serif !important;
}

* {
  box-sizing: border-box;
}

:root {
  --blush: #f8b3a7;
  --light-blush: #ffe5e0;
  --light-peach: #ffe5d9;
  --light-blue: #99e2db;
  --baby-blue: #c9fbff;
  --bright-turq: #56cfe1;
  --light-orange: #ffaa00;
  --dark-orange: #ff7b00;
  --yellow-little-orange: #ffdd00;
  --beige: #d5bdaf;
  --lighter-beige: #f5ebe0;
}
